<div class="swiper-slide">
    <div class="col m6" ng-repeat="sensor in soc.sensors">
        <div class="row">
            <div class="col m4">
                <div class="customCard onoff text-center">
                    <div style="background-image:url({{sensor.model.image}}); margin:0 auto; margin-top:6px; width: 36px; background-repeat: no-repeat; height:36px; background-size:contain;"></div>
                    <!--<img src="{{actuator.model.image}}" style="width:25px; margin-top:3px;">-->
                </div>
            </div>
            <div class="col m8" ng-click="soc.GoToDetail(sensor)" style="margin-left:-8px; margin-top:0px;">
                <div class="customCard" style="padding:1px;">
                    <div class="detailcontainer">
                        {{sensor.model.name}}<br>
                        <span class="description" ng-repeat="(key, value) in sensor.model.commands.status.returns"
                              ng-if="$index == 0">{{key}}: {{value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>