<div class="row">
    <div class="col s4 m4 l4" ng-repeat="sensor in soc.sensors" ng-click="soc.GoToDetail(sensor)">
        <div class="card-panel grey lighten-5" style="padding: 10px;">
            <div class="row" style="height: 50px;">
                <div class="col m4" style="height:50px;">
                    <img ng-src="{{sensor.image}}" ng-if="sensor.image" style="width: 100%;">
                </div>
                <div class="col m8">
                    <h6>{{sensor.alias}}</h6>
                    <span ng-repeat="(key, value) in sensor.commands.status.returns" ng-if="$index == 0">{{key}}: {{value}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
