<div class="row" style="margin-top:15px;">
    <div class="col m2">
        <div class="card touch waves-light text-center" style="height: 75px; padding-top:8px;">
            <div style="background-image:url({{sdc.sensor.model.image}}); margin:0 auto; background-repeat: no-repeat; width: 50px; height:55px; background-size:contain;"></div>
        </div>
    </div>
    <div class="col m10">
        <div class="row detaildescrip" style="margin-top:8px;">
            <div class="col m12">
                <input type="text" edit-dir="" placeholder="Druk hier om de alias aan te passen" ng-model="sdc.sensoralias" ng-change="sdc.updateAlias('alias',sdc.sensoralias)" style="margin-top:-10px;"/>
            </div>
            <div class="col m12" style="margin-top: -20px;">
                <p class="description">{{sdc.sensor.model.description}}</p>
            </div>
            <div class="col m12">
                <input type="text" edit-dir="" placeholder="Interval" ng-model="sdc.sensor.config.clientRequestInterval" ng-change="sdc.updateInterval(sdc.sensor.config.clientRequestInterval)"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col m6 nopad">
        <div class="row">
            <div class="col m12">
                <div class="command nopad valign-wrapper card"  ng-repeat="(key, value) in sdc.sensor.status">
                    <div class="touch valign" style="display: inline-block; width: 85%;">{{key}} {{value}}</div>
                    <div data-position="top" data-delay="50" data-tooltip="{{command.description}}" class="tooltipped text-center" style="display: inline-block; width:15%; background-color:#F84E19; color:white; font-size:24px;">i</div>
                </div>

            </div>
        </div>
    </div>
    <div class="col m6 nopad">
        <div class="card" style="padding:7px;">
            < Loghistory of selected sensor >
        </div>
    </div>
</div>


