
<div class="row">
    <ng-form class="col m12 offset-m3" style="margin-top: 40px; text-align:center">
        <div class="row">
            <label for="name">Naam</label>
            <input type="text" edit-dir="" id="name" placeholder="Druk hier om de naam aan te passen"
                   ng-model="snc.scenario.name"/>
            <label for="description">Omschrijving</label>
            <input type="text" edit-dir="" id="description" placeholder="Druk hier om de omschrijving aan te passen"
                   ng-model="snc.scenario.description"/>
        </div>
        <div class="row">
            <div class="customCard" style="padding:1px; vertical-align: middle; background-color:lightgrey">
                <span type="button" ng-click="snc.create()">Toevoegen</span>
            </div>

        </div>
    </ng-form>
</div>